.p-card {
  @include pc {
    padding: 165px 70px;
  }

  &__inner {
    @include pc {
      padding: 155px 235px;
      display: flex;
    }

    @include sp {
      padding: 90px 25px;
    }
  }

  &__section {
    width: 275px;
    height: 450px;

    @include sp {
      width: 330px;
      height: 440px;
    }

    &--orange {
      background-color: $bright-orange;
      border-radius: 5px 0 0 5px;

      @include sp {
        border-radius: 5px 5px 0 0;
      }
    }

    &--cyan {
      background-color: $dark-cyan;
    }

    &--dark {
      background-color: $very-dark-cyan;
      border-radius: 0 5px 5px 0;

      @include sp {
        border-radius: 0 0 5px 5px;
      }
    }
  }

  &__contents {
    width: 100%;
    height: 100%;
    padding: 40px 65px 40px 35px;

    @include sp {
      padding: 50px 55px 50px 50px;
    }
  }

  &__button {
    &--orange {
      color: $bright-orange;

      &:hover {
        background-color: $bright-orange;
        color: white;
      }
    }

    &--cyan {
      color: $dark-cyan;

      &:hover {
        background-color: $dark-cyan;
        color: white;
      }
    }

    &--dark {
      color: $very-dark-cyan;

      &:hover {
        background-color: $very-dark-cyan;
        color: white;
      }
    }
  }
}
